<mat-card>
  <mat-card-title>Overview</mat-card-title>
  <mat-card-subtitle>{{pageTitle}}</mat-card-subtitle>

  <mat-card-content *ngIf="dataSource">
    <mat-table #table [dataSource]="dataSource">
      <ng-container *ngFor="let col of tableColumns" [matColumnDef]="col.header">
        <mat-header-cell *matHeaderCellDef>{{col.header}}</mat-header-cell>
        <mat-cell *matCellDef="let order">{{order[col.property]}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let order; columns: displayedColumns"
               [ngClass]="{'active': order?.id === selectedOrder?.id}"
               (click)="orderSelected(order)"></mat-row>
    </mat-table>
  </mat-card-content>

  <mat-card-actions style="display: flex; justify-content: space-between">
    <button mat-button (click)="newOrder()">Add</button>
    <mat-paginator pageSize="5"
                   [pageSizeOptions]="[5,10,25]"
                   showFirstLastButtons></mat-paginator>
  </mat-card-actions>
</mat-card>
<mat-error *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</mat-error>
